[submodule "unitree_ros"]
	path = unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "genesis-samples"]
	path = genesis-samples
	url = https://github.com/Genesis-Embodied-AI/Genesis.git
